h1 {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

body {
  background: red;
  background: -webkit-linear-gradient(left top, red, yellow); 
  background: -o-linear-gradient(bottom right, red, yellow);
  background: -moz-linear-gradient(bottom right, red, yellow); 
  background: linear-gradient(to bottom right, red, yellow);
}

div.image {
  margin: auto;
  text-align: center;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
}

ul {
	text-align: left;
	list-style-type: none;
}